<div>
	<Page>
		<template v-slot:header>
			<!-- TODO add breadcrumbs here -->
		</template>
		<template v-slot:content>
			<!-- TODO make the below two fields toggle between each other based on selection -->
			<h1>{{collection.title}}</h1>
			<button v-on:click="toggleFavourite">{{ collection.favourite ? 'Unfavourite' : 'Favourite'}}</button>
			<input v-model="collection.title" :placeholder="collection.title">

			<br>
			{{collection.content}}
			<br>
			<textarea v-model="collection.content" :placeholder="collection.content"> </textarea>
			
			<br>

			<panel
					title="Children"
					subHeading="created by you"
					buttonContent="Create new collection"
					v-bind:buttonCallback="createNewCollection"
				>
					<template v-slot:cards>
						<card
							v-for="(card, index) in childCollections"
							v-bind:title="card.title"
							v-bind:content="card.content"
							v-bind:id="card.uuid"
							v-bind:contentId="card.uuid"
							v-bind:clickedCallback="openCollection"
						/>
					</template>
				</panel>
			<button
			:disabled="!allowSave"
			v-on:click="save">
				save
			</button>
		</template>
	</Page>
</div>