<div>
	<Page>
		<template v-slot:header>
		</template>
		<template v-slot:content>
			<h1>{{collection?.title ?? 'Loading'}}</h1>
			<heart
				tooltipSide="top"
				:colour="collection?.favourite ? 'pink' : 'grey'"
				:onClick="toggleFavourite"
				:tooltip="collection?.favourite ? 'Unfavourite' : 'Favourite'"
			/>
			<input v-if="collection" v-model="collection.title" :placeholder="collection.title">

			<br>
			{{collection?.content}}
			<br>
			<textarea v-if="collection" v-model="collection.content" :placeholder="collection.content"> </textarea>
			
			<br>

			<panel
					title="Children"
					subHeading="created by you"
					buttonContent="Create new collection"
					v-bind:buttonCallback="openCreateCollectionModal"
				>
					<template v-slot:cards>
						<card
							v-for="(card, index) in childCollections"
							v-bind:title="card.title"
							v-bind:content="card.content"
							v-bind:id="card.uuid"
							v-bind:contentId="card.uuid"
							v-bind:clickedCallback="openCollection"
						/>
					</template>
				</panel>
			<button
			:disabled="!allowSave"
			v-on:click="save">
				save
			</button>
		</template>
	</Page>
	<CreateCollectionModal
		v-if="createNewCollectionModalOpen"
		:onClose="closeCreateCollectionModal"
		:createCollectionCallback="createCollectionCallback"
		:parentId="collection?.uuid"
	/>
</div>