@import "../colours.scss";

.black {
	fill: $black
}

.pink {
	fill: $pink
}

.grey {
	fill: $black-lightest
}

.white {
	fill: $parchment-lightest
}

.blue {
	fill: $blue
}

.red {
	fill: $pink-darkest
}