$parchment-lightest: #FCFAF6;
$parchment-lighter: #F2EBD7;
$parchment: #E8DCB8;
$parchment-darker: #DAC78E;
$parchment-darkest: #CDB263;

$pink-lightest: #FCD3E0;
$pink-lighter: #FAACC5;
$pink: #F786AA;
$pink-darker: #F45185;
$pink-darkest: #F01D60;

$blue-lightest: #9AB8EF;
$blue-lighter: #769FEA;
$blue: #5386E4;
$blue-darker: #2364DC;
$blue-darkest: #1B4EAC;

$green-lightest: #1CEEA7;
$green-lighter: #10D190;
$green: #0DAB76;
$green-darker: #097752;
$green-darkest: #05432E;

$black-lightest: #4D4D4B;
$black-lighter: #393937;
$black: #242423;
$black-darker: #080807;
$black-darkest: #000000;
