<div class='page'>
	<div id='header' class="header">
		<div v-if='loggedIn()'>
			<button v-on:click="logout">Logout</button>
		</div>
		<div v-else>
			<button v-on:click="navigateToLogin">Login</button>
		</div>
		<slot name="header">
		
		</slot>
	</div>

	<div class='core'>
		<div id='sidebar' class='sidebar'>
			<slot name="sidebar"></slot>

			<a v-bind:class="{active : isActiveRoute('/dashboard')}" href="/dashboard">Dashboard</a>
			<a href="/unused">Unused</a>

		</div>
		<div id='content' class='content'>
			<slot name="content"></slot>

		</div>
	</div>
	<div id="footer" class="footer">
		<slot name="footer">
			footer content
		</slot>
	</div>
	<login-modal v-if="shouldDisplayLogin()">
	</login-modal>
</div>