@import "../../branding/colours.scss";

.page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: $parchment;
}

.header {
  display: flex;
  width: 100%;
  background-color: $parchment;
  color: $black;
  justify-content: center;
  align-items: center;
  height: 40px;

  overflow: hidden;
}

.core {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  display: flex;
  justify-content: space-between;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: $parchment;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: $black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: $parchment-lighter;
  color: $black-lighter;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: $parchment-lightest;
  color: $black-lightest;
}

.content {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $parchment-darker;
}

.footer {
  display: flex;
  width: 100%;
  background-color: $parchment;
  color: $black;
  justify-content: center;
  align-items: center;
  height: 40px;
}