@import "../../branding/colours.scss";
@import "../Dropdown/Dropdown.scss";

.page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: $parchment;
}

.header {
  display: flex;
  width: 100%;
  background-color: $parchment;
  color: $black;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.core {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  display: flex;
  justify-content: space-between;
}

.content {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $parchment-darker;
}

.footer {
  display: flex;
  width: 100%;
  background-color: $parchment;
  color: $black;
  justify-content: center;
  align-items: center;
  height: 40px;
}