<div
	class='page'
>
	<div id='header' class="header">
		<slot name="header">
		
		</slot>
		<img :src="require(`@/assets/logo.png`)" />

		<span v-if="loggedIn()">
			<Dropdown>
				<template v-slot:button>
					<Silhouette  />
				</template>
				<template v-slot:options>
					<p>Account (N/A)</p>
					<p>Notifications  (N/A)</p>
					<hr>
					<a class="dropdown-link" v-on:click="logout">Logout</a>
				</template>
			</Dropdown>
		</span>
	</div>

	<div class='core'>
		<div id='content' class='content'>
			<Breadcrumbs v-if="!hideBreadcrumbs" />
			<slot name="content"></slot>

		</div>
	</div>
	<div id="footer" class="footer">
		<slot name="footer">
			footer content
		</slot>
	</div>
	<login-modal v-if="shouldDisplayLogin()">
	</login-modal>
</div>