<div>
	<div>Create Account</div>
  	<button v-on:click="login">Login</button>
  	<button v-on:click="dashboard">Dashboard</button>

	<Page msg="this container is in the create account screen">
		<template v-slot:header>
			<div>Login Page</div>
		</template>
		<template v-slot:sidebar>
			<div>sidy</div>
		</template>
		<template v-slot:content>
			
			<input v-model="username" placeholder="username">
			<input v-model="password" placeholder="password">

			<button v-on:click="createAccount">Create Account</button>
			<button v-on:click="login">Login</button>
		</template>
		<template v-slot:footer>
			<div>feet</div>
		</template>
	</Page>
</div>