<div>
	<Page :displaySidebar="false">
		<template v-slot:header>
			<div>Create Account</div>
		</template>

		<template v-slot:content>
			<input v-model="username" placeholder="username">
			<br>
			<input v-model="password" placeholder="password">
			<br>
			<button v-on:click="createAccount">Create Account</button>
			<br>

			Optionally please fill in the below for additional account security features.
			<br>
			<input v-model="email" placeholder="email">
			<br>
			<input v-model="mobile" placeholder="mobile">
			<br>
			2 Factor Authentication (Comeing Soon)
		</template>
	</Page>
</div>