<div>
	<page>
		<template v-slot:header>
			<div>Dashboard</div>
		</template>
		<template v-slot:content>
			<h1>Welcome {{getUsersName()}}</h1>
			<div>
				<panel
					title="Most recently modified"
				>
					<template v-slot:cards>
						<card
							v-for="(recent, index) in recentlyModified"
							v-bind:title="recent.title"
							v-bind:content="recent.content"
							v-bind:key="recent.id"
						></card>
					</template>
				</panel>

				<panel
					title="Favorites"
				>
					<template v-slot:cards>
						<card
							v-for="(favourite, index) in favourites"
							v-bind:title="favourite.title"
							v-bind:content="favourite.content"
							v-bind:key="favourite.id"
						></card>
					</template>
				</panel>
				
				<panel
					title="My Collections"
					subHeading="created by you"
					buttonContent="Create new collection"
					v-bind:buttonCallback="createNewCollection"
				>
					<!-- have a create collection button in the boxes header -->
					<template v-slot:cards>
						<card
							v-for="(favourite, index) in myCollections"
							v-bind:title="favourite.title"
							v-bind:content="favourite.content"
							v-bind:key="favourite.id"
						></card>
					</template>
				</panel>
				<panel
					v-if="availableCollections.length > 0"
					title="Available Collections"
					subHeading="access granted to you"
				>
					<template v-slot:cards>
						<card
							v-for="(favourite, index) in availableCollections"
							v-bind:title="favourite.title"
							v-bind:content="favourite.content"
							v-bind:key="favourite.id"
						></card>
					</template>
				</panel>
			</div>
        </template>
		<template v-slot:footer>
			<div>feet</div>
		</template>
	</page>
</div>