<div>
	<page>
		<template v-slot:header>
			<div>Dashboard</div>
		</template>
		<template v-slot:content>
			<h1>Welcome {{getUsersName()}}</h1>
			<div>
				<panel
					title="Most recently modified"
				>
					<template v-slot:cards>
						<card
							v-for="(card, index) in recentlyModified"
							v-bind:title="card.title"
							v-bind:content="card.content"
							v-bind:id="card.uuid"
							v-bind:contentId="card.uuid"
							v-bind:clickedCallback="openCollection"
						/>
					</template>
				</panel>

				<panel
					title="Favorites"
				>
					<template v-slot:cards>
						<card
							v-for="(card, index) in favourites"
							v-bind:title="card.title"
							v-bind:content="card.content"
							v-bind:id="card.uuid"
							v-bind:contentId="card.uuid"
							v-bind:clickedCallback="openCollection"
						/>
					</template>
				</panel>
				
				<panel
					title="My Collections"
					subHeading="created by you"
					buttonContent="Create new collection"
					v-bind:buttonCallback="createNewCollection"
				>
					<!-- have a create collection button in the boxes header -->
					<template v-slot:cards>
						<card
							v-for="(card, index) in myCollections"
							v-bind:title="card.title"
							v-bind:content="card.content"
							v-bind:id="card.uuid"
							v-bind:contentId="card.uuid"
							v-bind:clickedCallback="openCollection"
						/>
					</template>
				</panel>
				<panel
					v-if="availableCollections.length > 0"
					title="Available Collections"
					subHeading="access granted to you"
				>
					<template v-slot:cards>
						<card
							v-for="(card, index) in availableCollections"
							v-bind:title="card.title"
							v-bind:content="card.content"
							v-bind:id="card.uuid"
							v-bind:contentId="card.uuid"
							v-bind:clickedCallback="openCollection"
						/>
					</template>
				</panel>
			</div>
        </template>
	</page>
</div>